/* banner */

.banner {
  position: relative;
  width: 100%;
  height: 350px; 
  background-image: url("/banner.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}


.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
}

.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  max-width: 700px;
  padding: 0 20px;
}

.banner-title {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: bold;
}

.banner-subtitle {
  font-size: 20px;
  opacity: 0.9;
}
